apiVersion: 1

providers:
  - name: "ci-cd-dashboards"
    orgId: 1
    folder: "CI-CD"
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards/ci_cd

