global:
  resolve_timeout: 5m

route:
  receiver: default
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 1h

receivers:
  - name: default
    # TODO: Configure real notification channels here (Slack, email, etc.)
    # Example (Slack):
    # slack_configs:
    #   - api_url: 'https://hooks.slack.com/services/XXX/YYY/ZZZ'
    #     channel: '#alerts'
    #     send_resolved: true

inhibit_rules: []

